* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9a7ae;
    font-family: Nunito sans-serif;
}

h2 {
    letter-spacing: .2rem;
    font-weight: 600;
}

h2 span {
    color: rgb(233, 29, 73);
}

p {
    padding: 1rem;
    font-size: 1.1rem;

.navbar {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.17rem;
}

#logo {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
}
    
#candyIcon {
    width: 6rem;
    height: auto;
}
